{% extends 'base.html' %}

{% block content %}
    <div class="container">
        
        <h1>Список задач</h1>
        <form action="" method="get">
            {{filterForm.as_p}}
            <button type="submit"><i class="bi bi-funnel"></i></button>
        </form>
        {% if user.is_authenticated %}
            <form action="{% url 'Logout' %}" method="post">
                {% csrf_token %}
                <button class="btn btn-outline-danger position-absolute top-0 end-0 mt-2 me-2" type="submit">Logout</button>
            </form>

        {% else %}
            <a href="{% url 'Login' %}" class="btn btn-primary position-absolute top-0 end-0 mt-2 me-2">Login</a>
        {% endif %}
        <div class="list-group">
            {% for task in tasks %}
            
                <a href="{% url 'Update' task.id %}" class="gap-2 align-items-center d-flex list-group-item list-group-item-action">
                    <b>{{task.title}}</b>
                    <span class="badge rounded-pill text-bg-info">{{task.get_status_display}}</span>
                    <span class="badge rounded-pill text-bg-success">{{task.get_priority_display}}</span>

                    <span class="ms-auto">{{task.deadline}}</span>
                </a>
            {% endfor %}
        </div>


        <a href='{% url "Create" %}' class="btn btn-primary mt-3">Добавити задачу</a>
    </div>
{% endblock content %}